@model MiniHelpDesk.Models.Usuario

@{
    ViewData["Title"] = "Cadastrar Usuário";
}

<h2>Cadastrar Usuário</h2>

<form asp-action="Cadastrar" method="post">

    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Senha</label>
        <input asp-for="Senha" type="password" class="form-control" />
        <span asp-validation-for="Senha" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>

</form>